html {
	background-color: aliceblue;
	padding: 32px;
}

body {
	background-color: white;
	max-width: 920px;
    margin: 0 auto;
	padding: 24px;
	border-radius: 12px;
}

h1 {
	text-align: center;
    border-bottom: 2px dotted #2196F3;
    line-height: 80px;
	font-style: italic;
    color: lightskyblue;
	margin: 0;
}

h2 {
	border-bottom: 2px solid #CDDC39;
    line-height: 44px;
}

h3 {
    border-bottom: 2px solid #FFC107;
    line-height: 36px;
	color: orangered;
}

blockquote {
	border-radius: 12px;
    border: 1px solid #FFEB3B;
    padding: 12px;
	background-color: lightyellow;
}

section {
	padding: 10px;
    border: 1px dashed #ddd;
}

li {
	line-height: 32px;
}

a {
	text-decoration: none;
}

time {
	color: gray;
}